:root[theme="dark"] {
  --ctp-rosewater: #f2d5cf;
  --ctp-rosewater-rgb: 242 213 207;
  --ctp-rosewater-hsl: 10.286 57.377% 88.039%;
  --ctp-flamingo: #eebebe;
  --ctp-flamingo-rgb: 238 190 190;
  --ctp-flamingo-hsl: 0.000 58.537% 83.922%;
  --ctp-pink: #f4b8e4;
  --ctp-pink-rgb: 244 184 228;
  --ctp-pink-hsl: 316.000 73.171% 83.922%;
  --ctp-mauve: #ca9ee6;
  --ctp-mauve-rgb: 202 158 230;
  --ctp-mauve-hsl: 276.667 59.016% 76.078%;
  --ctp-red: #e78284;
  --ctp-red-rgb: 231 130 132;
  --ctp-red-hsl: 358.812 67.785% 70.784%;
  --ctp-maroon: #ea999c;
  --ctp-maroon-rgb: 234 153 156;
  --ctp-maroon-hsl: 357.778 65.854% 75.882%;
  --ctp-peach: #ef9f76;
  --ctp-peach-rgb: 239 159 118;
  --ctp-peach-hsl: 20.331 79.085% 70.000%;
  --ctp-yellow: #e5c890;
  --ctp-yellow-rgb: 229 200 144;
  --ctp-yellow-hsl: 39.529 62.044% 73.137%;
  --ctp-green: #a6d189;
  --ctp-green-rgb: 166 209 137;
  --ctp-green-hsl: 95.833 43.902% 67.843%;
  --ctp-teal: #81c8be;
  --ctp-teal-rgb: 129 200 190;
  --ctp-teal-hsl: 171.549 39.227% 64.510%;
  --ctp-sky: #99d1db;
  --ctp-sky-rgb: 153 209 219;
  --ctp-sky-hsl: 189.091 47.826% 72.941%;
  --ctp-sapphire: #85c1dc;
  --ctp-sapphire-rgb: 133 193 220;
  --ctp-sapphire-hsl: 198.621 55.414% 69.216%;
  --ctp-blue: #8caaee;
  --ctp-blue-rgb: 140 170 238;
  --ctp-blue-hsl: 221.633 74.242% 74.118%;
  --ctp-lavender: #babbf1;
  --ctp-lavender-rgb: 186 187 241;
  --ctp-lavender-hsl: 238.909 66.265% 83.725%;
  --ctp-text: #c6d0f5;
  --ctp-text-rgb: 198 208 245;
  --ctp-text-hsl: 227.234 70.149% 86.863%;
  --ctp-subtext1: #b5bfe2;
  --ctp-subtext1-rgb: 181 191 226;
  --ctp-subtext1-hsl: 226.667 43.689% 79.804%;
  --ctp-subtext0: #a5adce;
  --ctp-subtext0-rgb: 165 173 206;
  --ctp-subtext0-hsl: 228.293 29.496% 72.745%;
  --ctp-overlay2: #949cbb;
  --ctp-overlay2-rgb: 148 156 187;
  --ctp-overlay2-hsl: 227.692 22.286% 65.686%;
  --ctp-overlay1: #838ba7;
  --ctp-overlay1-rgb: 131 139 167;
  --ctp-overlay1-hsl: 226.667 16.981% 58.431%;
  --ctp-overlay0: #737994;
  --ctp-overlay0-rgb: 115 121 148;
  --ctp-overlay0-hsl: 229.091 13.360% 51.569%;
  --ctp-surface2: #626880;
  --ctp-surface2-rgb: 98 104 128;
  --ctp-surface2-hsl: 228.000 13.274% 44.314%;
  --ctp-surface1: #51576d;
  --ctp-surface1-rgb: 81 87 109;
  --ctp-surface1-hsl: 227.143 14.737% 37.255%;
  --ctp-surface0: #414559;
  --ctp-surface0-rgb: 65 69 89;
  --ctp-surface0-hsl: 230.000 15.584% 30.196%;
  --ctp-base: #303446;
  --ctp-base-rgb: 48 52 70;
  --ctp-base-hsl: 229.091 18.644% 23.137%;
  --ctp-mantle: #292c3c;
  --ctp-mantle-rgb: 41 44 60;
  --ctp-mantle-hsl: 230.526 18.812% 19.804%;
  --ctp-crust: #232634;
  --ctp-crust-rgb: 35 38 52;
  --ctp-crust-hsl: 229.412 19.540% 17.059%;
  
  /* === Theme scheme  ==== */
  /* Background */
  --bg-dark: var(--ctp-crust);
  --bg-muted: var(--ctp-mantle);
  --bg-light: var(--ctp-base);
  
  /* Foreground */
  --fg-brigth: var(--ctp-text);
  --fg-muted: var(--ctp-subtext1);
  --fg-dimmer: var(--ctp-subtext0);
  
  /* Border */
  --bd-light: var(--ctp-overlay2);
  --bd-muted: var(--ctp-overlay1);
  --bd-dark: var(--ctp-overlay0);
  
  /* == Semantic == */
  /* background */
  --bg-lightness-factor: 36%;
  --sm-bg-error:      oklch(from var(--ctp-red)    var(--bg-lightness-factor) c h);
  --sm-bg-warning:    oklch(from var(--ctp-yellow) var(--bg-lightness-factor) c h);
  --sm-bg-success:    oklch(from var(--ctp-green)  var(--bg-lightness-factor) c h);
  --sm-bg-info:       oklch(from var(--ctp-sky)    var(--bg-lightness-factor) c h);
  
  /* Foreground */
  --fg-lightness-factor: 87%;
  --sm-fg-error:      oklch(from var(--ctp-red)    var(--fg-lightness-factor) c h);
  --sm-fg-warning:    oklch(from var(--ctp-yellow) var(--fg-lightness-factor) c h);
  --sm-fg-success:    oklch(from var(--ctp-green)  var(--fg-lightness-factor) c h);
  --sm-fg-info:       oklch(from var(--ctp-sky)    var(--fg-lightness-factor) c h);
  
  /* OnBackground */
  --onbg-lightness-factor: 90%;
  --sm-fg-on-error:   oklch(from var(--ctp-red)    var(--onbg-lightness-factor) c h);
  --sm-fg-on-warning: oklch(from var(--ctp-yellow) var(--onbg-lightness-factor) c h);
  --sm-fg-on-success: oklch(from var(--ctp-green)  var(--onbg-lightness-factor) c h);
  --sm-fg-on-info:    oklch(from var(--ctp-sky)    var(--onbg-lightness-factor) c h);
  
  /* Border */
  --sm-bd-error: var(--ctp-red);
  --sm-bd-warning: var(--ctp-yellow);
  --sm-bd-success: var(--ctp-green);
  --sm-bd-info: var(--ctp-sky);

}
