:root[theme="dark"] {
  --ctp-rosewater: #f4dbd6;
  --ctp-flamingo: #f0c6c6;
  --ctp-pink: #f5bde6;
  --ctp-mauve: #c6a0f6;
  --ctp-red: #ed8796;
  --ctp-maroon: #ee99a0;
  --ctp-peach: #f5a97f;
  --ctp-yellow: #eed49f;
  --ctp-green: #a6da95;
  --ctp-teal: #8bd5ca;
  --ctp-sky: #91d7e3;
  --ctp-sapphire: #7dc4e4;
  --ctp-blue: #8aadf4;
  --ctp-lavender: #b7bdf8;
  --ctp-text: #cad3f5;
  --ctp-subtext1: #b8c0e0;
  --ctp-subtext0: #a5adcb;
  --ctp-overlay2: #939ab7;
  --ctp-overlay1: #8087a2;
  --ctp-overlay0: #6e738d;
  --ctp-surface2: #5b6078;
  --ctp-surface1: #494d64;
  --ctp-surface0: #363a4f;
  --ctp-base: #24273a;
  --ctp-mantle: #1e2030;
  --ctp-crust: #181926;
  
  /* === Theme scheme  ==== */
  /* Background */
  --bg-dark: var(--ctp-crust);
  --bg-muted: var(--ctp-mantle);
  --bg-light: var(--ctp-base);
  
  /* Foreground */
  --fg-brigth: var(--ctp-text);
  --fg-muted: var(--ctp-subtext1);
  --fg-dimmer: var(--ctp-subtext0);
  
  /* Border */
  --bd-light: var(--ctp-overlay2);
  --bd-muted: var(--ctp-overlay1);
  --bd-dark: var(--ctp-overlay0);
  
  /* == Semantic == */
  /* background */
  --bg-lightness-factor: 40%;
  --sm-bg-error:      oklch(from var(--ctp-red)    var(--bg-lightness-factor) c h);
  --sm-bg-warning:    oklch(from var(--ctp-yellow) var(--bg-lightness-factor) c h);
  --sm-bg-success:    oklch(from var(--ctp-green)  var(--bg-lightness-factor) c h);
  --sm-bg-info:       oklch(from var(--ctp-teal)    var(--bg-lightness-factor) c h);
  
  /* Foreground */
  --fg-lightness-factor: 80%;
  --sm-fg-error:      oklch(from var(--ctp-red)    var(--fg-lightness-factor) c h);
  --sm-fg-warning:    oklch(from var(--ctp-yellow) var(--fg-lightness-factor) c h);
  --sm-fg-success:    oklch(from var(--ctp-green)  var(--fg-lightness-factor) c h);
  --sm-fg-info:       oklch(from var(--ctp-teal)    var(--fg-lightness-factor) c h);
  
  /* OnBackground */
  --onbg-lightness-factor: 100%;
  --sm-fg-on-error:   oklch(from var(--ctp-red)    var(--onbg-lightness-factor) c h);
  --sm-fg-on-warning: oklch(from var(--ctp-yellow) var(--onbg-lightness-factor) c h);
  --sm-fg-on-success: oklch(from var(--ctp-green)  var(--onbg-lightness-factor) c h);
  --sm-fg-on-info:    oklch(from var(--ctp-teal)    var(--onbg-lightness-factor) c h);
  
  /* Border */
  --sm-bd-error: var(--ctp-red);
  --sm-bd-warning: var(--ctp-yellow);
  --sm-bd-success: var(--ctp-green);
  --sm-bd-info: var(--ctp-teal);
  
  /* == Basic colors == */
  --bc-red: var(--ctp-red);
  --bc-green: var(--ctp-green);
  --bc-yellow: var(--ctp-yellow);
  --bc-blue-light: var(--ctp-sky);
  --bc-blue: var(--ctp-blue);
  --bc-peach: var(--ctp-peach);
  --bc-black: #11111b;
  --bc-white: #dce0e8;
  --bc-orange: var(--ctp-peach);
  --bc-purple: var(--ctp-mauve);
  --bc-cyan: var(--ctp-sapphire);
  --bc-pink: var(--ctp-pink);
  --bc-brown: var(--ctp-maroon);
  --bc-lavender: var(--ctp-lavender);
  
  /* == Code editors == */
  /* languajes */
  --ce-keyword: var(--ctp-mauve);
  --ce-strings: var(--ctp-green);
  --ce-symbols: var(--ctp-red);
  --ce-atoms: var(--ctp-red);
  --ce-escape-sequences-regex: var(--ctp-pink);
  --ce-comments: var(--ctp-overlay2);
  --ce-constants: var(--ctp-peach);
  --ce-numbers: var(--ctp-peach);
  --ce-operators: var(--ctp-sky);
  --ce-braces: var(--ctp-overlay2);
  --ce-delimiters: var(--ctp-overlay2);
  --ce-methods: var(--ctp-blue);
  --ce-functions: var(--ctp-blue);
  --ce-parameters: var(--ctp-maroon);
  --ce-builtins: var(--ctp-red);
  --ce-classes: var(--ctp-yellow);
  --ce-interfaces: var(--ctp-yellow);
  --ce-annotations: var(--ctp-yellow);
  --ce-metadata: var(--ctp-yellow);
  --ce-enums: var(--ctp-yellow);
  --ce-types: var(--ctp-yellow);
  --ce-enumvariants: var(--ctp-teal);
  --ce-property: var(--ctp-blue);
  --ce-attributes: var(--ctp-yellow);
  --ce-macros: var(--ctp-rosewater);
  
  /* general */
  --ge-cursor: var(--ctp-rosewater);
  --ge-cursor-line: lch( from var(--ctp-text) l c h / .1);
  --ge-line-numbers: var(--ctp-overlay1);
  --ge-active-line-number: var(--bc-lavender);
  --ge-normal-links: var(--bc-blue);
  --ge-followed-links: var(--bc-blue-light);
  --ge-on-hover-links: var(--bc-lavender);
  
  /* search */
  --search-fg: var(--ctp-text);
  --search-bg: var(--ctp-teal);
  --search-active-fg: var(--ctp-text);
  --search-active-bg: var(--ctp-red);
}
